* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url(images/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hide {
  display: none;
}

.car {
  width: 50px;
  height: 80px;
  position: absolute;
  bottom: 120px;
  background-image: url(images/mycar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-color: red; */
}

.enemy {
  width: 50px;
  height: 80px;
  position: absolute;
  bottom: 120px;
  background: url('images/car.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.road {
  width: 400px;
  height: 100vh;
  background-color: #2d3436;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-left: 5px dashed white;
  border-right: 5px dashed white;
}

.lines {
  width: 10px;
  height: 100px;
  background-color: white;
  margin-left: 200px;
  position: absolute;
}

.score {
  position: absolute;
  top: 15px;
  left: 40px;
  background-color: #fcfcfc;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: black;
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
  box-shadow: 0 5px 5px #777;
}

.previousScore {
  background-color: #2d3436;
  width: 200px;
  height: 80px;
  position: absolute;
  top: 100px;
  left: 40px;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 1.2rem;
  text-align: center;
  line-height: 80px;
  box-shadow: 0 5px 5px #777;
}

.message {
  position: absolute;
  background-image: url(images/message.jpeg);
  background-repeat: no-repeat;
  /* opacity: 0.7; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 238, 255);
  z-index: 1;
  text-align: center;
  border: 3px solid white;
  padding: 15px;
  margin: auto;
  width: 50%;
  cursor: pointer;
  /* font-weight:bolder ; */
  letter-spacing: 5;
  font-size: 20px;
  word-spacing: 3;
  line-height: 30px;
  text-transform: uppercase;
  box-shadow: 0 5px 5px #777;
}

.name,
.cNameBtn {
  background-color: #2d3436;
  color: white;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 1.4rem;
  font-style: italic !important;
  box-shadow: 0 5px 5px #777;
  border: 3px dashed white;
}

.cNameBtn {
  top: 120px !important;
  right: 95px;
  width: 100px;
  height: fit-content;
  color: black;
  font-size: 0.8rem;
  background-color: rgb(253, 254, 250);
  line-height: 40px;
  border: none;
}
